*.[oa]
*.build
*.changes
*.class
*.deb
*.debhelper
*.debhelper.log
*.dsc
*.egg-info
*.la
*.lo
*.pyc
*.substvars
*.tar.gz
*~
.*.swp
.classpath
.cproject
.deps
.libs
.metadata
.project
.pydevproject
.settings/
config.guess
config.log
config.status
config.sub
install-sh
libtool
ltmain.sh
