[Unit]
Description=Camera filter - server that filters false alarms
After=multi-user.target

[Service]
ExecStart=/www/camera-filter/bin/filter.py -f /www/camera-filter/conf/camera-filter.yml

User=nobody
Group=nogroup

Restart=always
# Start after 5 sec
RestartSec=5

# Try to start for 10 times in 240 sec
StartLimitBurst=10
StartLimitInterval=240

[Install]
WantedBy=multi-user.target
